<h1>Ganz Deutschland</h1>
<CovidDetails @data={{@model}}>
  <tr>
    <td>Aktuell Infiziert:</td>
    <td>{{format-number @model.currentlyInfected}}</td>
    <td>{{calculate-percent @model.cases @model.currentlyInfected}}%</td>
  </tr>
  <tr>
    <td>Genesen:</td>
    <td>{{format-number @model.recovered}}</td>
    <td>{{calculate-percent @model.cases @model.recovered}}%</td>
  </tr>
  <tr>
    <td>Neu infiziert:</td>
    <td>{{format-number @model.difference.cases}}</td>
    <td></td>
  </tr>
  <tr>
    <td>Neu gestorben:</td>
    <td>{{format-number @model.difference.deaths}}</td>
    <td></td>
  </tr>
</CovidDetails>